[Desktop Entry]
Name=Dolm
Comment=A Lights Out-style puzzle game
Exec=dolm
Icon=io.github.DCCXXV.dolm
Type=Application
Categories=Game;LogicGame;
Keywords=puzzle;lightsout;logic;game;
StartupWMClass=dolm
